
<link rel="stylesheet" href="./css/1.css">
<div style="margin-top: 5%;">
    <div style="float: left;width: 60%; padding-left: 15%;">
        <img style="height: 50%;float:left;text-align: center;" src="~/public/read1.png" alt="smart1">
        <br>
    </div>
    <div style="float: right; text-align: justify;width: 40%;">
        For the purpose of implementing the smart cities project,<br>
        <b>Dehradun Smart City Limited (DSCL),</b> a Special Purpose<br> Vehicle (SPV) for Dehradun Smart City Project has been<br> incorporated, under the Indian Companies Act, 2013. <br> <br> The <b>focus is on sustainable and inclusive development</b>            and<br> the idea is to look at compact areas, create a replicable model<br> which will act like a light house to other aspiring cities. <br> <br> The <b>
            Dehradun Smart City Mission of the Government is a<br>
            bold, new initiative.
        </b> It is meant to set examples that can be<br> replicated both within and outside the Smart City, catalysing the<br> creation of similar Smart Cities in various regions and parts of<br> the country. <br>
        <br>
        <a href="http://smartcitydehradun.uk.gov.in/" target="_blank"><input class="btn text-light" style="background-color: green;" type="button" value="READ MORE"></a>
    </div>
</div>