a {
    text-align: center;
}

i {
    color: white;
}

.sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 85%;
    top: 1;
    left: 0;
    background-color: cornflowerblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 1;
    right: 0;
    background-color: cornflowerblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav1 {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 1;
    right: 0;
    background-color: cornflowerblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav1 a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav1 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav1 {
        padding-top: 15px;
    }
    .sidenav1 a {
        font-size: 18px;
    }
}

nav i:hover,
nav a:hover {
    background-color: #f2f2f2;
    color: #333;
}

label {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

#mydivheader2 {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}
#iframeHolder {
    position: absolute;
    z-index: 9;
    /*background-color: #f1f1f1;*/
    border: 1px solid #d3d3d3;
    text-align: center;
}
#iframeHolder2 {
    position: absolute;
    z-index: 9;
    /*background-color: #f1f1f1;*/
    border: 1px solid #d3d3d3;
    text-align: center;
}